body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    background-image: url('https://wallpapercave.com/wp/aDJ8Gah.jpg');
}



center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

h1 {
    color: #f6f4f4;
    font-size: 46px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #f8ecec;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button[type="reset"] {
    background-color: #f44336;
    margin-left: 10px;
}

button[type="reset"]:hover {
    background-color: #d32f2f;
}